<configuration>
	<connectionStrings>
		<add name="DiyaMinuteFinal"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DiyaMinuteFinal;Integrated Security=True;Connect Timeout=30;Encrypt=False"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
